body {
  background-color: #282c34;
  color: white;
}

.App {
  max-width: 800px;
  padding-left: 8px;
  padding-right: 8px;
  margin: auto;
  font-family: "Inconsolata", monospace;
  font-weight: 300;
  font-size: calc(8px + 2vmin);

  .App-title-image {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .App-temporary-notice {
    margin-bottom: 16px;
  }

  strong {
    font-weight: 400;
    background-color: black;
  }

  ol {
    list-style-type: decimal-leading-zero;

    li {
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  .App-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
  }

  .App-footer {
    font-size: medium;
    margin-top: 48px;
  }

  a {
    color: #afcaff;
  }

  a:hover {
    background-color: white;
    color: black;
  }
}
